* {
    box-sizing: border-box;
}

.shelf {
    display: flex;
    border-bottom: 25px groove #d4c6b5;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    border-left: 25px solid #d4c6b5;
    border-right: 25px solid #d4c6b5;
    width: 100%;

    @media screen and (max-width: 767px) {
        flex-flow: row-reverse wrap;
    }

    .shelf-name {
        margin-bottom: -30px;
        padding-bottom: 25px;
        width: 16%; 
        min-width: 180px;
        padding-left: 20px;
        flex: 1;
        position: relative;

        @media screen and (min-width: 1025px) {
            width: 22%; 
        }
    
        h2 {
            text-transform: uppercase;
            font-family: verdana;
            font-size: 20px;
            font-weight: 700;
            color: #f5f5f5;
            letter-spacing: -2px;
            line-height: 1;
            background: #de3b3b;
            padding: 80px 12px;
            border: 10px groove #424242;
            margin: 0;      
            position: relative;
            z-index: 5;
            top: 2px;
            cursor: pointer;

            @media screen and (max-width: 340px) {
                font-size: 18px;
            }
    
            @media screen and (max-width: 767px) {
                // width: 90%;
                padding: 39% 5%;
            }

            @media screen and (min-width: 1025px) {
                font-size: 26px;
                height: 100%;
                padding: 88px 18px;
                min-width: 180px;
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
            width: 80%;
            height: 90%;
            background: rgba(0, 0, 0, 0.3);
            top: 4px;
            left: 16px;
            transform: skew(-1deg, 0deg);
        }

        &:after {
            content: '';
            display: block;
            // margin-bottom: -25px;
            border-bottom: 25px groove #d4c6b5;
            position: absolute;
            bottom: 5px;
            width: calc(100% + 24px);
            left: -12px;
            transform: skew(46deg, 0deg);
        }
    }

    &:after,
    &:before {
        background-image: url(../assets/succs.png);
        background-repeat: no-repeat;
        width: 140px;
        height: 166px;
        display: block;
        background-position: 8% 101%;
        background-size: 300%;
        border-bottom: 25px groove #d4c6b5;
        margin-bottom: -25px;
        max-width: 150px;
        margin-top: 80px;
        cursor: pointer;

        @media screen and (max-width: 767px) {
            width: 33%;
        }

        @media screen and (min-width: 1025px) {
            width: 10%;
        }
    }

    &:nth-child(1) {
        border-top: 25px solid #d4c6b5;

        .shelf-name {
            margin-right: auto;
            flex: initial;
            width: 66.7%;

            @media screen and (max-width: 767px) {
                flex: 1;
            }

            @media screen and (min-width: 768px) {
                width: 33.3%;
            }

            h2 {
                @media screen and (min-width: 768px) {
                    min-width: 150px;
                }
                @media screen and (min-width: 1024px) {
                    min-width: 200px;
                }
            }
        }

        &:after {
            content: '';
        }
    }

    &:nth-child(2) {
        .shelf-name {
            h2 {
                background: #872cea;
                color: white;
            }
        }

        &:after {
            content: '';
            margin-left: auto;
            background-position: 54% 101%;
        }
    }
    &:nth-child(3) {
        .shelf-name {
            h2 {
                background: #3bb8de;
                color: white;
            }
        }

        &:before {
            content: '';
            background-position: 97% 101%;
        }
    }
}