.book {
    padding: 0 20px;
    width: 270px;
    margin-bottom: 30px;
}

.book--inner,
.book--inner a {
    height: 100%;
}

.book--inner a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book--front {
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    position: relative;
}

.book__details {
    color: black;
    text-align: center;
    margin-top: 10px;
}

.book__details .book-title {
    font-weight: bold;
}

.book-rating {
    background: white;
    padding: 5px;
    color: teal;
    position: absolute;
    border: 2px solid teal;
    bottom: 3px;
    right: 3px;

}

/* .book__details span {
    display: inline-block;
} */


